.nav-link {
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  .nav-item a {
    @media (max-width: 767px) {
      line-height: $spacer * 2.5;        
    }
  }
  .navbar-collapse {
    @media (max-width: 767px) {
      margin-top: 20px;
      background-color: rgba(0, 0, 0, 0.5);           
    }
  }
   
  .navbar-toggler,
  .navbar-toggler:focus {
    @media (max-width: 767px) {      
      box-shadow: 0 0 0 0 !important;
    }
  }
  