.btn-outline-secondary {
  &:hover {
    color: #ffffff;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

// ProductView.vue
.picture {
  object-fit: cover;
  width: 100px;
  height: 100px;
  @media (min-width: 320px) {
    object-fit: cover;
    width: 80px;
    height: 80px;
  }
  @media (min-width: 992px) {
    object-fit: cover;
    width: 100px;
    height: 100px;
  }
}

.nav-pills .nav-link.active {
  background-color: $secondary !important;
  color: white;
}
.class.active,
.class {
  &:focus {
    background-color: $secondary !important;
    color: white;
  }
  &:hover {
    color: white;
  }
}
.class {
  background-color: #e8e7e7 !important;
}

.btn-outline-secondary {
  &:hover {
    color: #fff;
  }
}

.form-select {
  background-color: #fff !important;
  border: 1px solid $secondary !important;
}
.form-select {
  &:focus {
    border: 1px solid #f82888;
  }
}

// CourseView.vue
.nav-link01 {
  &:hover {
    background-color: $secondary !important;
    color: white !important;
  }
}

// ProductsView.vue
.list-group-item.active,
.page-item.active .page-link,
.page-link {
  &:focus {
    background-color: $secondary !important;
    color: #fff !important;
  }
}
.list-group-item.active {
  background-color: $secondary !important;
}

// CartView.vue
.form-select,
.input-group-text {
  background-color: #fff;
}
.form-control {
  background-color: #fff !important;
}
.form-control:focus {
  border-color: 1px solid #ced4da;
  color: $secondary !important;
}
.btn-secondary {
  background-color: $secondary !important;
  color: #ffffff !important;
}
.btn-secondary:hover {
  border-color: $secondary !important;
  background-color: #fff !important;
  color: $secondary !important;
}
.btn-secondary {
  &:focus {
    border-color: $secondary !important;
    background-color: #fff;
    color: $secondary !important;
  }
}

#btn01 {
  padding: 00.25rem 0.5rem;
}
.input-group-text,
.form-select {
  border: 1px solid $secondary;
}
.form-control {
  &:focus {
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #303840;
  }
}


// CartView.vue
.input-group-text {
  border: 1px solid $secondary !important;
  background-color: #fff !important;
}

.form-control:focus {
  border: 1px solid #ced4da !important;
  background-color: #fff !important;
  color: #303840 !important;
}

//Pagination.vue
.page-item.active .page-link, .page-item {  
   &:focus {
    background-color: $secondary !important;  
    color: #fff;     
   } 
    
  }
  
.page-item.active .page-link {
  background-color: $secondary !important;  
  color: #fff !important;
}
  

.page-link {  
  color: $dark !important;  
}

// AdminOrders.vue
.form-check-input {
  &:checked {
    background-color: $secondary !important; 
  }
}  


  





