.card {
    &_imgHidden {
      overflow: hidden;
    }
    &_img {
      transition: transform 0.5s;
    }
    &:hover {
      .card_img {
        position: relative;
        transform: scale(1.25);
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:after {
          content: "查看更多";
          position: absolute; 
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
        }
      }
      
    }
    &_Favorite{
      z-index: 1;
      background: #fff;
      position: absolute;
      color: $secondary;
      font-size: 1.5rem;
      border-radius: 0 0 15px 15px;
      // top: 10px;
      padding: {
        right:10px;
        left:10px;
      };
      left: 10px;
      &:hover{
        background-color: $secondary;
        i{
          color: #fff;
  
        }
      }
    }
    
  }

  .product-area {
    background: #eeeeee;
  }
  .bg-cover {
    background-size: cover;
    background-position: center center;
    object-fit: cover;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
    font-weight: bold;
    top: 45%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #303840;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 12px;
    font-weight: bold;
  }
  